@media print {
    a[href*='//']:after {
        content:" (" attr(href) ") ";
    }
}
@media print {
    a:after {
        content:" (" attr(href) ") ";
    }
}

@page {
    margin-top: 2cm;
    margin-bottom: 2cm;
    margin-left: 2cm;
    margin-right: 2cm;
}
.book-date {
    page-break-after: always;
}

.post-content {
    page-break-before: always;
}
p {
  page-break-inside: avoid;
}

.text-center
{
  text-align: center;
}